body{
    background-color: rgb(5, 5, 5);
}

h1{
    font-weight: 300;
    color: gold;
    margin-left: 15px;
}

h2{
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    color: gold;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:  100%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.list{
    font-size: larger;
    color: ghostwhite;
}

.option{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;
}

.home-page {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px; 
}

button {
    background-color: brown;
    color: white;
    border: 3px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}
  
button:hover {
    background-color: #5c151e;
}

@media (max-width: 600px) {

    body{
        display: block;
    }

    .img-container{
        height: 10%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container img {
     max-width: 100%;
     max-height: 100%;
    }

    h2{
        text-align: center;
        color: gold;
        
       
    }

    .option{
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 5px;
    }

    .home-page{
        font-size: 1.2em;
    }

    h1{
        padding-top: 20px;
    }


}